@import url(https://necolas.github.io/normalize.css/8.0.1/normalize.css);


/********header********/
.header{
    background-color: rgb(255, 239, 214);
    height: 100px;
}
    
.header1{
    display: flex;
    height: 100%;
}

.img_cat{
    max-width: 30%;
    height: 100%;
}

.header_box1{
    width: 50%;
    background-color: rgb(14, 94, 111);
    text-align: center;
}


.header_box2{
    width: 50%;
    background-color: rgb(58, 136, 145);
    text-align: center;
    padding: 20px;
    color: white;
    font-size: 1.5em;
}



/********nav********/
.nav{
    background-color: rgb(255, 239, 214);
    text-align: center;
    height: 25px;

}

a:hover{
    color: rgb(58, 136, 145);
}

/********section********/

.section{
    background-color: rgb(242, 222, 186);
    min-height: 100%;
    padding: 20px;
}

h2{
    color: rgb(14, 94, 111);
    text-decoration: underline;
}

li{
    color: rgb(58, 136, 145);
}


.content_photo{
    max-width: 25%;
    

}

/********footer********/
.footer1{
    background-color: rgb(255, 239, 214);
    display: flex;
    height: 100px;
}
.footer_box{
    height: 100%;
    width: 50%;
    
    background-color: rgb(58, 136, 145);
    text-align: center;
}
.footer_nav{
    height: 100%;
    width: 50%;
    background-color: rgb(14, 94, 111);
    text-align: center;
}

